$naturalColor: green; 
$naturalColor2: yellowgreen; 





#dropdownLang
{
    /*Color*/
    background-color:green;
    
    border: 4px solid $naturalColor2 ;
    border-radius: 5px;

/*Position*/

    position: absolute;
    right: 0px; 

    
    
}