@media (min-width: 576px)  //The same as sm in boostrap
 {
    //Not visible on movile
  
    #logo
    {
       
     
       object-fit: cover;
    
    
    }
    .container
    {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
 
 }

