$naturalColor: green; 
$naturalColor2: yellowgreen; 


main 
{    

margin-bottom:100px ;
padding-top :40px;
}


#guitar
{
float :left;



}

#dropdownLang
{
    /*Color*/
    background-color:green;
    
    border: 4px solid $naturalColor2 ;
    border-radius: 5px;

/*Position*/

    position: absolute;
    right: 0px; 
    
}

